@model AlphaGym.Models.Member

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Delete Member</h1>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Subscription Type</th>
                        <th>Phone Number</th>
                        <th>Monthly Subscription</th>
                        <th>Subscription Expiry Date</th>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                        <td>@Html.DisplayFor(model => model.SubscriptionType)</td>
                        <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
                        <td>@Html.DisplayFor(model => model.MonthlySubscription)</td>
                        <td>@Html.DisplayFor(model => model.SubscriptionExpiryDate)</td>
                    </tr>
                </tbody>
            </table>

            <form asp-action="Delete" >
                <input type="hidden" asp-for="Id" />
                <div class="mt-3 text-center">
                <button type="submit" class="btn btn-danger">Delete</button> |
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
